{#<span class="by-pronounce-question"
      onclick="$(this).children('audio').get(0).play()">
    <span   class="fa fa-volume-up">
    </span>
    <audio>
        <source src=""/>
    </audio>
</span>
#}
{{ include('@CustomEasyAdminBundle\\Resources\\views\\word\\field_word_pronounce.html.twig') }}
<div class="pronounce-transcription-hint text-center clearfix">
    <span class="viewer fa fa-eye pull-left">{{ 'dictionary.view.exercise.transcription-hint'|trans }}</span>
    <span class="text pull-right"></span>
</div>
