{#<span class="by-pronounce-question"
      onclick="$(this).children('audio').get(0).play()">
    <span   class="fa fa-volume-up">
    </span>
    <audio>
        <source src=""/>
    </audio>
</span>
#}
{{ include('@CustomEasyAdminBundle\\Resources\\views\\word\\field_word_pronounce.html.twig') }}
