<h4 class="header">{{ 'dictionary.view.exercise.type_answer'|trans }}</h4>
<div class="written-answer near-correct input-group">
    <span class="input-group-addon">
        <span class="icon correct fa fa-check"></span>
        <span class="icon near-correct fa fa-pencil"></span>
        <span class="icon incorrect fa fa-exclamation"></span>
    </span>
    <input type="text" class="form-control">
    <span class="input-group-btn">
        <button type="button" class="dont-know btn btn-default">{{ 'dictionary.view.exercise.dont_know'|trans }}</button>
    </span>
</div>

