<div class="widget word-info-widget dropdown-widget">
    <div  class="show-dropdown fa fa-question">
        <div class="dropdown-panel">
            some info text here
        </div>
    </div>
</div>