{% extends '@CustomEasyAdminBundle/Resources/views/dictionary/list_base.html.twig' %}

{% block dictionary_field %}
    {% if field=='loading' %}
        <td data-label="{{ _column_label }}" >
            loading...
        </td>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}