.badge.badge-secondary{
    background: #868E96;
}
.badge.badge-info{
    background: #17A2B8;
}
.badge.badge-warning{
    background: #FFC107;
}
.badge.badge-success{
    background: #28A745;
}
.badge.badge-danger{
    background: #DC3545;
}