.dictionary-loading-widget{
    width: 100%;
    text-align: center;
}
.dictionary-loading-widget .progress{
    border: 1px solid #aaa;
    display: inline-block;
    width: 15em;
    vertical-align: middle;
    margin: 0 !important;

}
.dictionary-loading-widget:not(.loading) .progress .progress-bar{
    transition: none;
}
.dictionary-loading-widget .status{
    width: 15em;
    display: inline-block;
    vertical-align: middle;
}
.dictionary-loading-widget .icon.loading,
.dictionary-loading-widget .icon.done,
.dictionary-loading-widget .icon.canceled{
    display: none;
}
.dictionary-loading-widget.loading .icon.loading{
    display: inline-block;
    color: blue;
}
.dictionary-loading-widget.done .icon.done{
    display: inline-block;
    color: green;
}
.dictionary-loading-widget.canceled .icon.canceled{
    display: inline-block;
    color: red;
}

.dictionary-loading-widget .result.done,
.dictionary-loading-widget .result.paused,
.dictionary-loading-widget .result.loading{
    display: none;
}
.dictionary-loading-widget.done .result.done{
    display: inline-block;
}
.dictionary-loading-widget.paused .result.paused{
    display: inline-block;
}
.dictionary-loading-widget.loading .result.loading{
    display: inline-block;
}
.dictionary-loading-widget .pause,
.dictionary-loading-widget .resume{
    display: none;
    margin-left: 1em;
    color: gray;
    font-size: 1.2em;
}
.dictionary-loading-widget .pause:hover,
.dictionary-loading-widget .resume:hover{
    color: maroon;
}
.dictionary-loading-widget.loading .pause{
      display: inline;
}
.dictionary-loading-widget.paused .resume{
    display: inline;
}