.word-sound-widget span{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: .4em .5em;
    border-radius: 100%;
    border: 2px solid gray;
    background: silver;
    color: gray;
}
.word-sound-widget span:hover{
    background: #ddd;
    transition: background .15s;
}