.words-collection{
    position: relative;
    transition: opacity 0.3s;
}
.words-collection.locked::before{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: silver;
    opacity: .3;
}
.words-collection .add-word-action,
.words-collection .clear-words-action{
    display: inline-block;
    padding-left:1em;
    padding-bottom: 1em;
}
.words-collection .words-collection-header{
}

.words-collection .filter-input{
    margin-left: 1em;
    margin-bottom: 1em;
}
.words-collection .scroll-container{
    max-height: 30em;
    max-width: 62em;
    overflow: auto;
}

.words-collection .new-word-container > *,
.words-collection .words-list .word{
    margin: 0;
    #height: 2em;
    padding-left: 5em;
    position: relative;
}

.words-collection .new-word-container .word::before,
.words-collection .words-list .word::before{
    display: block;
    width: 4em;
    text-align: right;
    position: absolute;
    padding-top: .7em;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: "\f067";
}
.words-collection .new-word-container .word::before{
    font-family: FontAwesome;
    content: "\f067";
}

.words-collection .words-list .word::before{
    content: counter(word-number);
    counter-increment: word-number
}

.words-collection .new-word-container .word.invalid .spelling,
.words-collection .new-word-container .word.duplicate .spelling{
    background: rgba(255, 153, 148, 0.50) !important;
}
.words-collection .new-word-container > .add-word-action:not(:first-child){
    display: none;
}
.words-collection .new-word-container .message{
    display:none;
    color: red;
    height: auto;
}
.words-collection .new-word-container .word.invalid ~ .message.invalid{
    display: block;
}
.words-collection .new-word-container .word.duplicate  ~ .message.duplicate{
    display: block;
}

.words-collection .words-list{
    counter-reset: word-number;
    overflow: hidden;
}

.words-collection .word{
    position: relative;
    text-align: left;
}

.words-collection .word > *{
    vertical-align: middle;
    display: inline-block;
    max-width: 11em;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}



.words-collection .word input[type=text]
{
    border: 1px solid #ccc;
}
.words-collection .words-list .word input[type=text]{
    #background: transparent;
}

.words-collection .word .word-attribute .attribute-input{
    width: 100%;
}
.words-collection .word .word-attribute.auto .attribute-input,
.words-collection .word .word-attribute:not(.auto) .auto-placeholder{
    display: none;
}

.words-collection .word .word-pronounce{
    display: inline-block;
    white-space: nowrap;
    max-width: 12em;
}
.words-collection .word .word-pronounce .player .play,
.words-collection .word .word-pronounce .player .stop{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: .2em .3em;
    border-radius: 100%;
    border: 2px solid gray;
    background: silver;
    color: gray;
    margin-right: .4em;
}
.words-collection .word .word-pronounce .player.playing .play,
.words-collection .word .word-pronounce .player:not(.playing) .stop{
    display: none;
}
.words-collection .word .word-pronounce .player .play:hover,
.words-collection .word .word-pronounce .player .stop:hover{
    background: #ddd;
    transition: background .15s;
}
.words-collection .word .word-pronounce .player.disabled .play.play{
    background: white;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.words-collection .word .word-pronounce .source-type {
    display: inline-block;
}

.words-collection .word .word-pronounce input[type=file],
.words-collection .word .word-pronounce .messages
{
    display: none;
}




.words-collection .words-import {
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
}


.words-collection .words-file input{
    display: none;
}

.words-collection .all-auto-checker{
    padding-bottom: 1em;
    padding-left: 1em;
    position: relative;
}
.words-collection .all-auto-checker .dropdown-menu{
    top: 2em;
    left: 1em;
}

.words-collection .modal .modal-body{
    position: relative;
}
.words-collection .modal .modal-body >  textarea{
    width: 100%;
    resize: vertical;
}

.words-collection  .modal.microphone-pronounce .modal-body{
    text-align: center;
}
.words-collection  .modal.microphone-pronounce .modal-body .time{
    text-align: left;
    display: inline-block;
    width: 10em;
}
.words-collection  .modal.microphone-pronounce .modal-body .icon{
    padding-left: 1em;
    font-size: 5em;
    color: maroon;
    vertical-align:middle;
}
.words-collection  .modal.microphone-pronounce .modal-body .controls{
    padding: 1em 2em;
    display: inline-block;
    vertical-align: middle;
}
.words-collection  .modal.microphone-pronounce .modal-body .controls .control{
    font-size: 1.4em;
    margin-left: 1em;
    padding: .4em .5em;
    color: gray;
    cursor: pointer;
}

.words-collection  .modal.microphone-pronounce .modal-body .controls.opened .control:not(.record),
.words-collection  .modal.microphone-pronounce .modal-body .controls.recording .control.record,
.words-collection  .modal.microphone-pronounce .modal-body .controls.recording .control.resume,
.words-collection  .modal.microphone-pronounce .modal-body .controls.recording .control.play,
.words-collection  .modal.microphone-pronounce .modal-body .controls.paused .control.record,
.words-collection  .modal.microphone-pronounce .modal-body .controls.paused .control.play,
.words-collection  .modal.microphone-pronounce .modal-body .controls.paused .control.pause,
.words-collection  .modal.microphone-pronounce .modal-body .controls.stopped .control.pause,
.words-collection  .modal.microphone-pronounce .modal-body .controls.stopped .control.resume,
.words-collection  .modal.microphone-pronounce .modal-body .controls.stopped .control.stop,
.words-collection  .modal.microphone-pronounce .modal-body .controls.playing .control:not(.stop){
    color: silver;
    cursor: not-allowed;
}
.words-collection  .modal.microphone-pronounce .modal-body .controls:not(.paused) .control.resume,
.words-collection  .modal.microphone-pronounce .modal-body .controls.paused .control.pause{
    display: none;
}

.words-collection  .modal.microphone-pronounce .modal-body .controls .control:hover{
    color: red;
}
.words-collection  .modal.microphone-pronounce .modal-body .controls .control.active{
    color: maroon;
}

.words-collection .collection-empty{
    margin-left: 5em;
}

/* pictures */
.words-collection .word .word-attribute.word-pictures .cached-pictures{
    display: none;
}

.words-collection .modal#pictures .modal-body .list{
    padding: 1em;
    border: 2px solid gray;
    max-height: 20em;
    overflow-y: scroll;
}
.words-collection .modal#pictures .modal-body .list li{
    display: inline-block;
    padding: .2em;
    position: relative;
}

.words-collection .modal#pictures .modal-body .list li .remove{
    position: absolute;
    top: .1em;
    right:.1em;
    padding: .3em;
    background: #f5f5f5;
    color: maroon;
    opacity: .5;
    cursor: pointer;
}
.words-collection .modal#pictures .modal-body .list li .remove:hover{
    opacity: .8;
    color: red;
}

.words-collection .modal#pictures .modal-body .list li img{
    max-width: 100px;
    max-height: 100px;
    display: block;
    border: 2px solid transparent;
}
.words-collection .modal#pictures .modal-body .list li.selected img{
    max-width: 100px;
    max-height: 100px;
    border-color: red;
}
.words-collection .modal#pictures .modal-header .title-word-spelling{
    font-weight: bold;
}
.words-collection .modal#pictures .header-line .col{
    padding: 1em;
}

.words-collection .modal#pictures .header-line .input-group,
.words-collection .modal#pictures .header-line .input-group .input-group-btn {
    width: auto;
    display: inline-block;
}
.words-collection .modal#pictures .header-line .input-group input{
    max-width: 60%;
}
