<div class="widget word-pictures-widget">
    <div  class="show-pictures fa fa-image">
        <div class="word-pictures-popup">
            <ul class="list-unstyled">
                {% for picture in value if picture.chosen %}
                    <li class="inline-block">
                        <img src="{{ vich_uploader_asset(picture, 'file') }}"
                             title="{{ picture.title }}"/>
                    </li>
                {% else %}
                    <li>{{ 'notification.list_empty'|trans }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
