<div class="word-status-widget">
    <span   class="badge badge-{{ cycle( [ '', 'secondary', 'info', 'danger', 'success' ], value ) }}">
        {{ ( value == 1 ? "word.status.pending" :
             value == 2 ? "word.status.loading" :
             value == 3 ? "word.status.incorrect" :
                          "word.status.translated" )|trans({}, 'CustomEasyAdminBundle')
        }}
    </span>
</div>

{#
    const STATUS_PENDING = 1;
    const STATUS_LOADING = 2;
    const STATUS_INCORRECT = 3;
    const STATUS_TRANSLATED = 4;
#}