<ul class="word-examples-widget list-unstyled">
    {% for example in value %}
        <li class="word-example">
            <span class="english text-primary">{{ example.english }}</span>
            <span class="russian text-muted">{{ example.russian }}</span>
        </li>
    {% endfor %}
</ul>