<ul class="word-forms-widget list-unstyled">
    {% for form in value %}
        <li class="word-form">
        <span class="comment">{{ form.comment }}</span>
        <a href="{{ path('easyadmin', {
            'entity': 'Word',
            'action': 'show',
            'id': form.formWord.id }) }}"
        >
            <span class="form-spelling">{{ form.formSpelling }}</span>
        </a>
        </li>
    {% endfor %}
</ul>