{% set audio_enabled = value|default(false) and value.status == 1 %}
<div class="widget word-pronounce-widget {{ audio_enabled ? '' : 'disabled' }}"
     onclick="$(this).filter(':not(.disabled)').children('audio').trigger('play')">
    <span   class="fa fa-volume-up">
    </span>
    <audio {% if audio_enabled %} src="{{ vich_uploader_asset(value, 'audioFile') }}"{% endif %} ></audio>
</div>